// Custom styles.
.pagination {
  margin: 20px 0 0px;
}

.site-subtitle {
  @media (max-width: 767px) {
    display: none
  }
}

.site-title {
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 38px;
  }
}

.links-of-blogroll-inline .links-of-blogroll-item {
  float: left;
  margin: 5px 5px 0;
  width: auto;
  a {
    border-bottom: 1px solid #000
  }
}
.links-of-author {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .links-of-author-item {
    width: auto;
  }
}

